.sidebar {
    height: 100%;
    width: 85px;
    z-index: 1;
    left: 0;
    border-right:1px solid rgba(17, 17, 17, 0.1);
    transition: 0.5s;
    overflow-x: hidden;
    
    padding-top: 10px;
    white-space: nowrap;
  }
  
  .sidebar a {
    padding: 12px 8px 12px 32px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(17, 17, 17);
    display: block;
  }
  .sidebar a.active{
   font-weight: 500;
   border-right: 3px solid rgb(255, 56, 92);
  }
  .pointer{
    cursor: pointer;
  }
  .sidebar a:hover {
    background-color: #f3f3f2;
  }
  .item-icon {
    padding-bottom: 3px;
    margin-right: 30px;
  }